<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="date">
          <p>12 / 02 / 2021<br>
            DAILY ETF WATCH</p>
        </div>
        <div class="txt-info">
          <h2>China ETF Overview</h2>
          <p>
            Selecting a China ETF is tricky. Apart from the normal due diligence process, China investors also need
            to deal with key differences in share classes, underlying indexes, new ETF offerings and complex fund
            structures.
          </p>
          <a href="#">Continuar leyendo </a>
        </div>

      </div>
      <div class="carousel-item ">
        <div class="date">
          <p>12 / 02 / 2021<br>
            DAILY ETF WATCH</p>
        </div>
        <div class="txt-info">
          <h2>China ETF Overview</h2>
          <p>
            Selecting a China ETF is tricky. Apart from the normal due diligence process, China investors also need
            to deal with key differences in share classes, underlying indexes, new ETF offerings and complex fund
            structures.
          </p>
          <a href="#">Continuar leyendo </a>
        </div>

      </div>
      <div class="carousel-item ">
        <div class="date">
          <p>12 / 02 / 2021<br>
            DAILY ETF WATCH</p>
        </div>
        <div class="txt-info">
          <h2>China ETF Overview</h2>
          <p>
            Selecting a China ETF is tricky. Apart from the normal due diligence process, China investors also need
            to deal with key differences in share classes, underlying indexes, new ETF offerings and complex fund
            structures.
          </p>
          <a href="#">Continuar leyendo </a>
        </div>

      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"> <img src="assets/left_arrow.svg" alt="Previous">
      </span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"> <img src="assets/right_arrow.svg"
          alt="Next"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>