<header class="masthead compromiso">
  <div class="container ">
    <div class="row mt-5">
      <div class="col-12 col-sm-12 col-md-6">
        <h3 class="h3">
          Nuestro <br>
          Compromiso
        </h3>
        <div class="txtcomp">
          <span class="uper">E</span> stamos comprometidos a crear una mejor forma de invertir que genere valor
          integral.

          Nuestro equipo de expertos se dedica a investigar continuamente los mercados financieros con enfoque en
          ciencia de datos que opere dentro de un marco de administración de riesgos.
          <img src="assets/line_comp@2x.png" alt="Valion">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 fbottom">
          <p>
           <span>DESARROLLAMOS ESTRATEGIAS</span> 
            EN BASE A NUESTRA PROPIA <br> TESIS DE INVERSIÓN 
          </p>


      </div>
    </div>
  </div>
</header>
