<header class="masthead estrategia">
  <div class="container ">
    <div class="row mt-5">
      <div class="col-12">
        <h2 class="h2">
          <span>modelo</span>
          Estrategias
        </h2>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="info-beta">
                <p>
                    Desarrollamos un modelo de factor patentado diseñado para abordar las deficiencias de los enfoques
                    tradicionales de asignación de activos. En comparación con la inversión pasiva, la administración activa a
                    menudo conlleva un mayor costo, menos transparencia en su cartera y el riesgo de juicio humano. Pero también
                    puede significar un potencial de rendimiento superior. Smart beta combina los aspectos positivos de los
                    enfoques de inversión pasivo y activo para mejorar la eficiencia en la inversión.</p>
          
          
                    <p>Elige la mejor correlación - dinámica del índice con los componentes del ETF, minimizando la volatilidad y
                    amplificando los rendimientos. Selecciona entre los componentes de ETF de alto rendimiento y las acciones de
                    volatilidad de mejor rendimiento y crea nuevas carteras optimizadas.</p>
          
                    <p>Diversificación con los rendimientos más altos del mercado manteniendo las ventajas pasivas de bajo costo de
                    la estrategia de inversión de los ETF.
                  </p>
              </div>
        </div>
     
      </div>
    </div>
   
    
  </div>
</header>
<div class="container-fluid circle">
    <img src="assets/circle_estrat@2x.png" alt="...">

</div>
