<header class="masthead estrategia">
  <div class="container ">
    <div class="row mt-5">
      <div class="col-12">
        <h2 class="h2">
          modelo<br>
          smart beta
        </h2>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="info-beta">
              <p class="bestof">Para qué sobrediversificarse: <br> Obtén lo mejor de lo mejor.</p>
                <p>
                  SMART BETA nace por la necesidad de la optimización de los ETFs buscando disminuir el riesgo sistémico de los mismos que deriva en rendimientos superiores al mercado.</p>
          
          
                    <p>SMART BETA está basado en el análisis econométrico de series de tiempo de los componentes de un índice, incluyendo variables macroeconómicas y fundamentales que evalúan el desempeño histórico, generando como resultado un pronósti- co ajustado a los criterios de riesgo que proporcione al inversionista la mejor relación riesgo-rendimiento.
                  </p>
              </div>
        </div>
     
      </div>
    </div>
   
    
  </div>
</header>
<div class="container-fluid circle">
    <img src="assets/circle_estrat@2x.png" alt="..." class="img-fluid">

</div>
