.footer {
    padding-top: 0;
    padding-bottom: 1rem;
    background-color: #2C2C2C;
    color: #FFFFFF;
    font-family: 'metropolislight';
    font-size: 12px;
    p{
        padding-top: 1rem;
        margin-bottom: 0;
    }
    .bgtop {
        background: #978F72;
        width: 100%;
        display: block;
        height: 15px;
    }
    
}
