<article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p></p>

          <h2 class="section-heading">Titulo</h2>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur doloribus rem cupiditate dignissimos ratione. Facere soluta quae, deserunt ad quis consequatur a eos sunt labore, iste, accusamus eligendi sequi.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur doloribus rem cupiditate dignissimos ratione. Facere soluta quae, deserunt ad quis consequatur a eos sunt labore, iste, accusamus eligendi sequi.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur doloribus rem cupiditate dignissimos ratione. Facere soluta quae, deserunt ad quis consequatur a eos sunt labore, iste, accusamus eligendi sequi.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur doloribus rem cupiditate dignissimos ratione. Facere soluta quae, deserunt ad quis consequatur a eos sunt labore, iste, accusamus eligendi sequi.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur doloribus rem cupiditate dignissimos ratione. Facere soluta quae, deserunt ad quis consequatur a eos sunt labore, iste, accusamus eligendi sequi.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur doloribus rem cupiditate dignissimos ratione. Facere soluta quae, deserunt ad quis consequatur a eos sunt labore, iste, accusamus eligendi sequi.</p>
          <h2 class="section-heading">Subtitulo</h2>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur doloribus rem cupiditate dignissimos ratione. Facere soluta quae, deserunt ad quis consequatur a eos sunt labore, iste, accusamus eligendi sequi.</p>

          <a href="#">
            Link
          </a>
         
        </div>
      </div>
    </div>
  </article>