<header class="masthead solucion">
    <div class="container ">
        <div class="row mt-5">
            <div class="col-12 ">
             
              
            </div>
            <div class="col-12 col-sm-12 col-md-6 management">
                <h2 class="h2 ">
              
                    WEALTH <br>MANAGEMENT
                    <p class="mt-5 ointegra">En <strong>Valion Capital</strong>  contamos con una oferta integral de<br>
                    soluciones en materia de inversión que se adaptan a<br> diferentes objetivos:</p>
                </h2>
        
            </div>
            
            <div class="col-12 col-sm-12 col-md-6">
                <img src="assets/bg_servicio@2x.png" alt="servicios" class="img-fluid">
            </div>
        
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-4 icons-solucion">
                <img src="assets/icon_financiera.png" alt="Planificacion financiera">
                <p class="title">
                    PLANIFICACIÓN <br>
                    FINANCIERA
                </p>
                <ul>
                    <li><i class="fas fa-caret-right"></i> Planificación patrimonial</li>
                    <li><i class="fas fa-caret-right"></i> Gestión del flujo de efectivo</li>
                    <li><i class="fas fa-caret-right"></i> Administración de portafolios de inversión</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-4 icons-solucion">
                <img src="assets/icon_inversion.png" alt="SERVICIOS DE ASESORAMIENTO 
                DE INVERSIONES">
                <p class="title">
                    SERVICIOS DE ASESORAMIENTO <br>
                    DE INVERSIONES
                </p>
                <ul>
                    <li><i class="fas fa-caret-right"></i> Cuentas administradas</li>
                    <li><i class="fas fa-caret-right"></i> Cuentas de asesoramiento</li>
                    <li><i class="fas fa-caret-right"></i> Asesoría en mercado de divisas </li>
                    <li><i class="fas fa-caret-right"></i> Estrategia de inversión</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-4 icons-solucion">
                <img src="assets/icon_office.png" alt="SERVICIOS DE 
                FAMILY OFFICE">
                <p class="title">
                    SERVICIOS DE <br>
                    FAMILY OFFICE
                </p>
                <ul>
                    <li><i class="fas fa-caret-right"></i> Enajenación patrimonial</li>
                    <li><i class="fas fa-caret-right"></i> Fideicomisos</li>
                    <li><i class="fas fa-caret-right"></i> Administración patrimonial</li>
                    <li><i class="fas fa-caret-right"></i> Private Equity</li>
                </ul>
            </div>
            </div>
            <hr>
        <div class="row mt-4">
            <div class="col-12">
               
            </div>
            <div class="col-12 col-sm-12 col-md-6 ccflex">
                <h2 class="h2 blue">
                   
                    ASSET<br> MANAGEMENT
                </h2>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <img src="assets/bg_servicio2@2x.png" alt="servicios" class="img-fluid">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-4 icons-solucion opblue">
                <img src="assets/icon_opcion.png" alt="OPCIONES DE INVERSIÓN">
                <p class="title">
                    OPCIONES DE INVERSIÓN
                </p>
                <ul>
                    <li><i class="fas fa-caret-right"></i> Renta fija y bonos</li>
                    <li><i class="fas fa-caret-right"></i> Renta variable</li>
                    <li><i class="fas fa-caret-right"></i> Fideicomiso de inversión</li>
                    <li><i class="fas fa-caret-right"></i> Fondos de inversión</li>
                    <li><i class="fas fa-caret-right"></i> Gestión pasiva</li>
                    <li><i class="fas fa-caret-right"></i> Divisas</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-4 icons-solucion opblue">
                <img src="assets/icon_activos.png" alt="PROTECCIÓN DE ACTIVOS">
                <p class="title">
                    PROTECCIÓN DE ACTIVOS
                </p>
                <ul>
                    <li><i class="fas fa-caret-right"></i> Colocación Internacional del Capital</li>
                    <li><i class="fas fa-caret-right"></i> Fideicomisos internacionales</li>
                    <li><i class="fas fa-caret-right"></i> Coberturas</li>
                    <li><i class="fas fa-caret-right"></i> Gestión de riesgos</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-4 icons-solucion opblue">
                <img src="assets/icon_alterna.png" alt="INVERSIONES ALTERNATIVAS">
                <p class="title">
                    INVERSIONES ALTERNATIVAS
                </p>
                <ul>
                    <li><i class="fas fa-caret-right"></i> Inversión de impacto</li>
                    <li><i class="fas fa-caret-right"></i> Capital de riesgo</li>
                    <li><i class="fas fa-caret-right"></i> Capital privado</li>
                    <li><i class="fas fa-caret-right"></i> Productos estructurados</li>
                    <li><i class="fas fa-caret-right"></i> Fondos de cobertura</li>
                </ul>
            </div>
            </div>
        </div>
        </header>