<!-- Login -->
<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginTitle">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <form>
                <div class="form-group">
                 
                  <input type="txt" class="form-control" id="emailUsr" aria-describedby="emailHelp" placeholder="Usuario o correo electrónico">
                 
                </div>
                <div class="form-group">
                 
                  <input type="password" class="form-control" id="passUsr" placeholder="Contraseña">
                </div>
              
                <button type="submit" class="btn btn-primary btn-login">Entrar</button>
              </form>
              <div class="modal-links">
                <a href="#">¿Olvidó su contraseña?</a>
                <hr>
                <a href="#">¿Aún no está registrado?</a>
              </div>
        </div>
        
      </div>
    </div>
  </div>