<header class="masthead alianza">
    <div class="container ">
        <div class="row mt-5">
            <div class="col-12">
                <h3 class="h3">
                    <span>Nuestras</span>
                    Alianzas
                </h3>
            </div>
        </div>
        <div class="row logosalianza">
            <div class="col-12 d-flex">
                <p>Cada cliente que asesoramos en <strong> Valion Capital </strong> se somete a un<br>
                    proceso muy concreto y particular:</p>
            </div>
            
        </div>
        <div class="row logosbt mt-5">
            <div class="col-12 col-sm-12 col-md-6 mb-3">
                <img src="assets/logo_bankgold@2x.png" alt="Bank of America">
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <img src="assets/logo_csgold@2x.png" alt="Credit Suisse">
            </div>
        </div>
      </div>
</header>