<header class="masthead bases">
  <div class="container ">
    <div class="row mt-5">
      <div class="col-12">
        <h2 class="h2">
          <span>Nuestras</span>
          Bases estructurales
        </h2>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid ourb">
  <div class="row p0 mb-2 mb-sm-2 mb-md-0">
    <div class="col-12 col-sm-12 col-md-6 ccflex">
      <div class="structure">
        <h6>MISIÓN</h6>
        <p>
          <span class="uper">O</span>frecer las estrategias de inversión adecuadas para hacer que el patrimonio de
          nuestros clientes genere un legado capaz de trascender.
        </p>
      </div>

    </div>
    <div class="col-12 col-sm-12 col-md-6 p-0">
      <img src="assets/mision@2x.jpg" alt="Mision">
    </div>

  </div>
  <div class="row mb-2 mb-sm-2 mb-md-0">
    <div class="col-12 col-sm-12 col-md-6 p-0 mb-3 mb-sm-3 mb-md-0">
      <img src="assets/vision@2x.jpg" alt="vision">
    </div>
    <div class="col-12 col-sm-12 col-md-6 ccflex ">
      <div class="structure">
        <h6>VISIÓN</h6>
        <p>
          <span class="uper">S</span>er una marca referente en estrategias de inversión, ingeniería financiera y gestión
          patrimonial en México.
        </p>
      </div>

    </div>
  </div>
  <div class="row p0">
    <div class="col-12 col-sm-12 col-md-6 ccflex">
      <div class="structure">
        <h6>PROPÓSITO</h6>
        <p>
          <span class="uper">A</span>poyar a nuestros clientes a construir un legado que genere valor integral en el
          tiempo.

        </p>
      </div>

    </div>
    <div class="col-12 col-sm-12 col-md-6 p-0">
      <img src="assets/proposito@2x.jpg" alt="PROPÓSITO">
    </div>

  </div>
  <div class="row filosof mt-3">
    <div class="col-12 col-sm-12 col-md-6">
      <div class="organiza">
        <h2 class="h2">
          <span>FILOSOFÍA</span>
          ORGANIZACIONAL
        </h2>
        <p>
          <span>G</span>enerar valor a nuestros clientes a través de soluciones integrales de inversión.
        </p>
        <div class="lema">
          <strong>LEMA</strong>
          <p>“VALOR INTEGRAL QUE <br>
            PERDURA EN EL TIEMPO”</p>
        </div>
      </div>

    </div>
    <div class="col-12 col-sm-12 col-md-6 ">
      <img src="assets/leonest@2x.png" alt="Filosofia" class="img-fluid">
    </div>
  </div>
</div>
<div class="container-fluid valor">
  <div class="row">
    <div class="col-12 col-sm col-md-6 pl-0 pabsol">
      <img src="assets/bg_bases@2x.jpg" alt="Valores">
    </div>
    <div class="col-12 col-sm col-md-6">
      <div class="txtvalor">
        <h6>VALORES</h6>
        <img src="assets/icon_valor@2x.png" alt="Valores">
        <p class="titles pb-2">Ética</p>
        <p>Contamos con la confianza de nuestros clientes por mantener transparencia en la comunicación, brindando
          soluciones orientadas a sus necesidades trascendiendo más allá de un negocio o transacción.</p>
          <p class="titles pb-2">Integridad</p>
          <p>Gestionamos patrimonios con eficacia competitiva ofreciendo soluciones apegadas a nuestros valores.</p> 
          <p class="titles pb-2">Trato justo</p>
          <p>Tratamos de manera justa y objetiva a todos nuestros clientes, ofreciendo análisis y diagnóstico; formulando recomendaciones y presentando el mejor portafolio de inversión.</p> 
          <p class="titles pb-2">Responsabilidad fiduciaria</p>
          <p>Cuidamos recursos de clientes tal como si fueran nuestros, encontrando las mejores alternativas de inversión siendo leales a la confianza que nos brindan.</p> 
          <p class="titles pb-2">Ejecución de nuestras tesis de inversión</p>
          <p>Pensamos que nuestros inversionistas no deberían tener que decidir entre eficiencia y el potencial de mejores  rendimientos, así que desarrollamos nuestra propia familia de portafolios optimizando ETF´s, implementando nuestra tesis de inversión.</p> 
      </div>
    </div>
  </div>
</div>
