<header class="masthead bases">
  <div class="container ">
    <div class="row mt-5">
      <div class="col-12">
        <h2 class="h2">
          <span><strong>Nuestra</strong></span>
          IDENTIDAD <br> CORPORATIVA
        </h2>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid ourb">
  <div class="row p0 mb-2 mb-sm-2 mb-md-0">
    <div class="col-12 col-sm-12 col-md-6 ccflex">
      <div class="structure">
        <h6>MISIÓN</h6>
        <p>
          <span class="uper">E</span>n Valion Capital nos definimos como una firma de estrategas expertos en inversiones, que conjugan sus esfuerzos para el logro de un objetivo en común, la protección del patrimonio de nuestros clientes desarrollando valor.
        </p>
        <p>
          En Valion Capital empleamos ingeniería financiera para el diseño, desarrollo e implementación de estrategias y productos de inversión innovadores, así como herramientas tecnológicas para la gestión de riesgo y la toma de decisiones.
        </p>
        <p>
          Lo anterior nos permite brindar soluciones a la medida a cada uno de nuestros clientes para que se cumplan sus objetivos específicos.
        </p>
      </div>

    </div>
    <div class="col-12 col-sm-12 col-md-6 p-0">
      <img src="assets/mision@2x.jpg" alt="Mision">
    </div>

  </div>
  <div class="row mb-2 mb-sm-2 mb-md-0">
    <div class="col-12 col-sm-12 col-md-6 p-0 mb-3 mb-sm-3 mb-md-0">
      <img src="assets/vision@2x.jpg" alt="vision">
    </div>
    <div class="col-12 col-sm-12 col-md-6 ccflex ">
      <div class="structure">
        <h6>VISIÓN</h6>
        <p>
          <span class="uper">S</span>er la opción por excelencia de los inversionistas en cuanto a gestión patrimonial se refiere; manteniendo siempre el compromiso con nuestros clientes en la consecución de un legado que desarrolle valor en el tiempo de una forma innovadora y única del mercado financiero.
        </p>
      </div>

    </div>
  </div>
  
  <!-- <div class="row filosof mt-3">
    <div class="col-12 col-sm-12 col-md-6">
      <div class="organiza">
        <h2 class="h2">
          <span>FILOSOFÍA</span>
          ORGANIZACIONAL
        </h2>
        <p>
          <span>G</span>enerar valor a nuestros clientes a través de soluciones integrales de inversión.
        </p>
        <div class="lema">
          <strong>LEMA</strong>
          <p>“VALOR INTEGRAL QUE <br>
            PERDURA EN EL TIEMPO”</p>
        </div>
      </div>

    </div>
    <div class="col-12 col-sm-12 col-md-6 ">
      <img src="assets/leonest@2x.png" alt="Filosofia" class="img-fluid">
    </div>
  </div> -->
</div>
<div class="container-fluid valor">
  <div class="row">
    <div class="col-12 col-sm col-md-6 pl-0 pabsol">
      <img src="assets/bg_bases@2x.jpg" alt="Valores" class="img-fluid bgbases">
    </div>
    <div class="col-12 col-sm col-md-6">
      <div class="txtvalor">
        <h6>VALORES</h6>
        <img src="assets/icon_valor@2x.png" alt="Valores">
        <p class="titles pb-2">Ética</p>
        <p>Mantenemos una comunicación constante y transparente de la administración de los recursos de nuestros clientes, fomentando en todo momento una relación de confianza más allá de una relación laboral.</p>
          <p class="titles pb-2">Liderazgo</p>
          <p>Valion Capital es pionero en el mercado financiero mexicano al poner al alcance de los inversionistas, estrategias de inversión en el mercado global basadas en una tesis de inversión propia Smart Beta, gestionando el riesgo estrictamente.</p> 
          <p class="titles pb-2">Mejora continua</p>
          <p>Nos enfocamos en perfeccionar nuestras herramientas, productos y servicios en beneficio de nuestros clientes para generar resultados tangibles.</p> 
          <p class="titles pb-2">Responsabilidad fiduciaria</p>
          <p>Cuidamos de los recursos de nuestros clientes como si fueran nuestros, poniendo a su disposición las mejores alternativas de inversión correspondiendo a la confianza que en nosotros depositan.
          </p> 
          <p class="titles pb-2">Ejecución de nuestras tesis de inversión</p>
          <p>Creemos que nuestros inversionistas no deberían tener que decidir entre eficiencia y el potencial de mejores rendimientos, así que desarrollamos nuestra propia familia de portafolios optimizados ETF ́s, implementando nuestra tesis de inversión.</p> 
          <p class="titles pb-2">Integridad</p>
          <p>Nos orgullecemos de poner en práctica todos nuestros valores en la gestión del patrimonio de todos y cada uno de nuestros clientes.</p>
        </div>
    </div>
  </div>
</div>
