<header class="masthead quienes">
  <div class="container-fluid d-flex align-items-center flex-column bgquines">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 bgwhite ">
        <h2 class="h2">Quiénes somos</h2>
        <div class="info">
            <p>
                <span class="uper">V</span>alion Capital es una firma de estrategas de inversión enfocada en personas que buscan consolidar su
                patrimonio y crear valor integral a través de éste.</p>
      
              <p>Nuestra prioridad es entender las necesidades de nuestros clientes para poder ofrecer soluciones integrales
                que se adapten a objetivos específicos.</p>
      
              <p>A través de ingeniería financiera diseñamos, desarrollamos e implementamos instrumentos innovadores, apoyados
                en herramientas tecnológicas, para la gestión de riesgo y la toma de decisiones en materia de inversión.
              </p>
        </div>
        
      </div>
      <div class="col-12 col-sm-12 col-md-6 ">

      </div>
    </div>
  </div>
</header>
<div class="container-fluid ingenio">
    <div class="row">
        <div class="col-12">
            <p>
                A través de ingeniería financiera diseñamos, desarrollamos e implementamos  instrumentos innovadores, apoyados en herramientas tecnológicas, para la gestión de riesgo y la toma de decisiones en materia de inversión.


            </p>
        </div>
    </div>
</div>
