<header class="masthead quienes">
  <div class="container-fluid d-flex align-items-center flex-column bgquines">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 bgwhite ">
        <h2 class="h2">HISTORIA</h2>
        <div class="info">
            <p>
                <span class="uper">V</span><strong>alion Capital</strong>  surge en la ciudad de Guadalajara, México, en el año 2018 por iniciativa de un grupo de empresarios expertos en inversiones con más de veinte años de experiencia en el medio; los cuales conscientes del desafío que representa constituir un patrimonio, y más aún conservar e incluso incrementar su valor a través del tiempo, se dieron a la tarea de investigar y evaluar los pormenores en cuanto a las opciones de inversión actuales disponibles al público inversionista en México.</p>
      
              <p>Como resultado de dicha investigación <strong>Valion Capital</strong>  concluyó que actualmente en México: los inversionistas se encuentran limitados por sus instituciones financieras en cuanto a opciones de inversión, el acceso al mercado global se encuentra limitado por el monto de inversión y el costo es muy elevado repercutiendo de forma directa en los rendimientos percibidos, los pequeños y medianos inversionistas no cuentan con atención personalizada para la asesoría de sus inversiones, el inversionista no cuenta con acceso a información confiable y actualizada en el momento que lo desea acerca de sus inversiones si no por medio de su asesor o al recibir su estado de cuenta mensual, las decisiones de inversión se limitan a las recomendaciones de su institución financiera o al “feeling de mercado” de su asesor, disminuyendo con esto el rendimiento y las opciones de inversión.</p>
      
              <p>Por lo anterior, Valion Capital se constituye como una respuesta a las necesidades del mercado inversionista mexicano, poniendo a su alcance el mercado global como la mejor opción de inversión, plataformas innovadoras y confiables para la operación y administración de recursos, desarrollo de estrategias personalizadas basadas en Tesis de Inversión logrando como resultado para el inversionista, el mayor rendimiento y una adecuada gestión de riesgo.
 
 
              </p>
        </div>
        
      </div>
   
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 ingenio">
                <p>
                    A través de ingeniería financiera diseñamos, desarrollamos e implementamos  instrumentos innovadores, apoyados en herramientas tecnológicas, para la gestión de riesgo y la toma de decisiones en materia de inversión.
    
    
                </p>
            </div>
    
    </div>
  </div>
</header>

