<!-- Masthead-->
<header class="masthead">
  <div class="container d-flex align-items-center flex-column">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="date">
            <p>12 / 02 / 2021<br>
              DAILY ETF WATCH</p>
          </div>
          <div class="txt-info">
            <h2>China ETF Overview</h2>
            <p>
              Selecting a China ETF is tricky. Apart from the normal due diligence process, China investors also need
              to deal with key differences in share classes, underlying indexes, new ETF offerings and complex fund
              structures.
            </p>
            <a href="#">Continuar leyendo </a>
          </div>

        </div>
        <div class="carousel-item ">
          <div class="date">
            <p>12 / 02 / 2021<br>
              DAILY ETF WATCH</p>
          </div>
          <div class="txt-info">
            <h2>China ETF Overview</h2>
            <p>
              Selecting a China ETF is tricky. Apart from the normal due diligence process, China investors also need
              to deal with key differences in share classes, underlying indexes, new ETF offerings and complex fund
              structures.
            </p>
            <a href="#">Continuar leyendo </a>
          </div>

        </div>
        <div class="carousel-item ">
          <div class="date">
            <p>12 / 02 / 2021<br>
              DAILY ETF WATCH</p>
          </div>
          <div class="txt-info">
            <h2>China ETF Overview</h2>
            <p>
              Selecting a China ETF is tricky. Apart from the normal due diligence process, China investors also need
              to deal with key differences in share classes, underlying indexes, new ETF offerings and complex fund
              structures.
            </p>
            <a href="#">Continuar leyendo </a>
          </div>

        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"> <img src="assets/left_arrow.svg" alt="Previous">
        </span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"> <img src="assets/right_arrow.svg"
            alt="Next"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</header>

<!-- valor Section-->
<section class="page-section valor">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6">
        <h1><span>PROTEGEMOS TU PATRIMONIO</span><br>
          CREANDO VALOR
        </h1>
        <p class="legado mt-4">
          <span>S</span>abemos lo difícil que puede ser construir un legado, y una vez que existe entendemos el reto que
          significa preservarlo a través del tiempo, hacerlo pasar de generación en generación para que siga
          trascendiendo. Por otro lado, sabemos el desafío que implica no solo conservar el patrimonio sino a
          partir de éste generar más valor.</p>

        <p class="legado">Es así como <strong> Valion Capital</strong> nace bajo el profundo deseo de apoyar a quién
          busca ir más allá de sólo generar riqueza, capitalizando el valor presente y proyectándolo a un futuro
          ganador.

        </p>
        <button type="button" class="btn btn-secondary btn-more mt-5">Conoce más</button>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <img src="/assets/leon.png" alt="" class="img-fluid img-valor">
        <p class="vcapital">
          <strong>C</strong>omo el león, en Valion Capital nos destacamos por defender los intereses de nuestros
          clientes con autoridad y fortaleza, buscando ser una figura de liderazgo, con la promesa que cada paso que
          damos será en beneficio de las personas y familias que representemos.


        </p>
      </div>
    </div>
  </div>
</section>


<!-- Model Section-->
<!-- <section class="page-section model">
  <div class="container">
      <h3>
        MODELO SMART BETA
      </h3>
      <div class="card">
        <div class="card-body">
          <p>
            <span class="uper">D</span>esarrollamos un <strong>modelo de factor</strong>  patentado diseñado para abordar las deficiencias de los enfoques tradicionales de asignación de activos. En comparación con la inversión pasiva, la administración activa a menudo conlleva un mayor costo, menos transparencia en su cartera y el riesgo de juicio humano. Pero también puede significar un potencial de rendimiento superior. Smart beta combina los aspectos positivos de los enfoques de inversión pasivo y activo para mejorar la eficiencia en la inversión.
          </p>
          <p class="bg-smart">
      <span>
              Elige la mejor correlación - dinámica del índice con los componentes del ETF, minimizando la volatilidad 
              y amplificando los rendimientos. Selecciona entre los componentes de ETF de alto rendimiento 
              y las acciones de volatilidad de mejor rendimiento y crea nuevas carteras optimizadas.<br><br>
          <strong>Diversificación con los rendimientos más altos del mercado manteniendo las ventajas pasivas de bajo costo 
          de la estrategia de inversión de los ETF.</strong>
        </span>
          </p>
        </div>
        <div class="mt-4">
            <img src="assets/img_bottom@2x.png" alt="Inversion" class="img-fluid inversion">
        </div>
      </div>
  </div>
<div class="container">
    <div class="row mt-5 logos_bank">
        <div class="col-12 col-sm-12 col-md-6">
            <img src="assets/logo_boa@2x.png" alt="Bank of america">
        </div>
        <div class="col-12 col-sm-12 col-md-6">
          <img src="assets/logo_cs@2x.png" alt="Credit Suisse">
      </div>
    </div>
</div>

</section> -->
