<!-- Masthead-->
<header class="masthead first-head">
  <div class="container d-flex align-items-center flex-column">
    <div class="fit-banner">
      <h1>INTELIGENCIA FINANCIERA QUE GENERA VALOR</h1>
    </div>
  </div>
  <!-- <iframe src="https://widgets2.rt.prorealtime.com/ProRealTime_HTML5Quotes/itcharts.phtml?wid=2021340461&k=d9b6aed700359955a88717c06cffdc3f" height="200" width ="100%" frameborder="0" scrolling="no" class="iframe"></iframe> -->
</header>

<!-- valor Section-->
<section class="page-section valor">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6">
        <!-- <h1><span>PROTEGEMOS TU PATRIMONIO</span><br>
          CREANDO VALOR
        </h1> -->
        <div class="dots"> <img src="/assets/dots@2x.png" alt="..."> </div>
        <p class="legado mt-4">
          <span>V</span>alion Capital surge en la ciudad de Guadalajara, México por iniciativa de un grupo de empresarios expertos en inversiones con más de veinte años de experiencia en el medio; los cuales conscientes del desafío que representa constituir un patrimonio, y más aún conservar e incluso incrementar su valor a través del tiempo, se dieron a la tarea de investigar y evaluar los pormenores en cuanto a las opciones de inversión actuales disponibles al público inversionista en México.</p>


        <a type="button" [routerLink]="['/quienes']" class="btn btn-secondary btn-more mt-5">Conoce más</a>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <img src="/assets/leon.png" alt="" class="img-fluid img-valor">
        <p class="vcapital">
          <strong>N</strong>uestro propósito; la protección del patrimonio de nuestros clientes desarrollando valor a
          través del tiempo, desde una posición de liderazgo, y con la fortaleza necesaria para conseguirlo.


        </p>
      </div>
    </div>
  </div>

</section>
<video-llamada></video-llamada>


<!-- Model Section-->
<!-- <section class="page-section model">
  <div class="container">
      <h3>
        MODELO SMART BETA
      </h3>
      <div class="card">
        <div class="card-body">
          <p>
            <span class="uper">D</span>esarrollamos un <strong>modelo de factor</strong>  patentado diseñado para abordar las deficiencias de los enfoques tradicionales de asignación de activos. En comparación con la inversión pasiva, la administración activa a menudo conlleva un mayor costo, menos transparencia en su cartera y el riesgo de juicio humano. Pero también puede significar un potencial de rendimiento superior. Smart beta combina los aspectos positivos de los enfoques de inversión pasivo y activo para mejorar la eficiencia en la inversión.
          </p>
          <p class="bg-smart">
      <span>
              Elige la mejor correlación - dinámica del índice con los componentes del ETF, minimizando la volatilidad 
              y amplificando los rendimientos. Selecciona entre los componentes de ETF de alto rendimiento 
              y las acciones de volatilidad de mejor rendimiento y crea nuevas carteras optimizadas.<br><br>
          <strong>Diversificación con los rendimientos más altos del mercado manteniendo las ventajas pasivas de bajo costo 
          de la estrategia de inversión de los ETF.</strong>
        </span>
          </p>
        </div>
        <div class="mt-4">
            <img src="assets/img_bottom@2x.png" alt="Inversion" class="img-fluid inversion">
        </div>
      </div>
  </div>
<div class="container">
    <div class="row mt-5 logos_bank">
        <div class="col-12 col-sm-12 col-md-6">
            <img src="assets/logo_boa@2x.png" alt="Bank of america">
        </div>
        <div class="col-12 col-sm-12 col-md-6">
          <img src="assets/logo_cs@2x.png" alt="Credit Suisse">
      </div>
    </div>
</div>

</section> -->
