.masthead{
    background-image: url(/assets/bg_smart@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: calc(16rem + 74px);
    padding-bottom: 6rem;
    background-position: center;
    position: relative;
    &.first-head{
      z-index: 0;
    }
          
          .masthead .masthead-heading {
            font-size: 2.75rem;
            line-height: 2.75rem;
          }
          .masthead .masthead-subheading {
            font-size: 1.25rem;
          }
          .masthead .masthead-avatar {
            width: 15rem;
          }
          .carousel {
            position: relative;
            width: 80%;
            background-color: rgba(255, 255, 255, 0.9);
            height: 500px;
            border-radius: 3rem;
            .date {
                position: absolute;
                right: 20px;
                    top: 20px;
                    z-index: 1;
                    color: #978F72;
                    font-size: 13px;
                    line-height: 23px;
                    font-family: 'metropolislight';
                        }
            .txt-info {
                display: flex;
                flex-direction: column;
                margin: auto;
                width: 50%;
                align-items: flex-start;
                padding-top: calc(2rem + 104px);
                color: #2C2C2C;
                font-size: 16px;
                h2{
                    color: #978F72;
                    font-weight: bold;
                    margin: auto auto 2rem;
                    font-size: 28px;
                }
                a{
                    color: #003463;
                    margin-top: 2rem;
                }
            }
            .carousel-indicators {
              align-items: center;
              li {
                width: 10px;
                height: 10px;
                background-color: rgba(151,143,114,.5);
                border-radius: 100%;
                margin-right: 15px;
                margin-left: 15px;
            }
            .active {
              background-color: #978F72;
              width: 15px;
              height: 15px;
          }
          
          }
          .carousel-control-prev-icon, .carousel-control-next-icon  {
            background-image: none;
           }

          .carousel-control-next, .carousel-control-prev{
            width: 5%;
            img{
              height: 30px;
            }
          }
        }   
        .fit-banner {
          position: absolute;
          color: #fff;
          left: 0;
          top: 50%;
          width: 100%;
          padding: 1rem 5rem;
          background: rgb(2,0,36);
          background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0.1) 100%);
          h1{
            font-size: 23px;
            letter-spacing: 7px;
            margin-bottom: 0;
        }
      }
}
.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
  
@media (min-width: 992px) {
    .masthead {
      padding-top: calc( 35rem + 104px);
      padding-bottom: 6rem;
    }
    .masthead .masthead-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }
    .masthead .masthead-subheading {
      font-size: 1.5rem;
    }
  }

  .valor {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+2,2c2c2c+49,2c2c2c+100 */
background: #000000; /* Old browsers */
background: -moz-linear-gradient(left,  #000000 2%, #2c2c2c 49%, #2c2c2c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #000000 2%,#2c2c2c 49%,#2c2c2c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #000000 2%,#2c2c2c 49%,#2c2c2c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2c2c2c',GradientType=1 ); /* IE6-9 */
z-index: 9;
    position: relative;
.img-valor {
    width: 100%;
}
h1 {
    color: #978F72;
    font-size: 24px;
    font-family: 'metropolislight';
    letter-spacing: 10px;
    span{
        font-size: 18px;
        font-family: 'metropolisbold';
        letter-spacing: 2.3px;
    }
}
.legado {
    color: #D0D2D3;
    width: 430px;
    font-size: 14px;
    font-family: 'metropolisregular';
    strong {
        font-family: 'metropolisbold';
    }
    span{
        color: #978F72;
        font-size: 20px;
    }
}
.vcapital {
    color: #978F72;
    font-family: 'metropolismedium_italic';
    strong{
        font-size: 24px;
    }
}
  }

  @media (max-width: 768px) { 
.valor {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+2,2c2c2c+34,2c2c2c+100 */
background: #000000; /* Old browsers */
background: -moz-linear-gradient(top,  #000000 2%, #2c2c2c 34%, #2c2c2c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #000000 2%,#2c2c2c 34%,#2c2c2c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #000000 2%,#2c2c2c 34%,#2c2c2c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2c2c2c',GradientType=0 ); /* IE6-9 */

}
.masthead {
  .carousel {
    .txt-info {
      width: 90%;
      padding-top: calc(0rem + 104px);
      font-size: 13px;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  
}
// widget
iframe.iframe {
  left: 0!important;
}

.model {
  .card {
    width: 100%!Important;
}
}
  }  

.model {
    background: url(/assets/bg_smart@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
h3 {
    color: #D0D2D3;
    font-family: 'metropolislight';
    font-size: 30px;
    letter-spacing: 6px;
}
.card{
    width: 70%;
    margin: auto;
    border-radius: 20px;
    padding: 0;
    margin-top: 2rem;
    border: 0;
    .card-body {
        padding: 0;
        p{
            padding: 2rem 2.5rem 0.5rem;
        }
        .bg-smart {
            padding: 0;
        }
    }
    .bg-smart{
        background-color: #978F72;
        color: #fff;
        span {
            padding: 2rem 2.5rem 1rem;
            margin: auto;
            display: block;
        }
    }
    .inversion{
        width: 500px;
        margin: auto auto 2rem;
        display: flex;
    }
}
.logos_bank{
    align-items: flex-end;
    img{
        margin: auto;
        display: flex;
    }
}
.tels{
    color: #D0D2D3;
    text-align: center;
    .agend{
        font-family: 'metropolislight';
        letter-spacing: 4px;
    }
    small{
        color: #978F72;
    }
    p{
        margin-bottom: 0;
    }
}
}  


// widget
iframe.iframe {
  width: 100%;
  position: absolute;
  bottom: -125px;
  display: block;
  margin: auto;
  z-index: 0;
  left: 30%;
}
