h2.h2 {
    color: #978F72;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 28px;
    font-family: 'metropolislight';
    span{
      letter-spacing: 2px;
      font-size: 20px;
      display: block;
      font-family: 'metropolisregular';
    }
}
h3.h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 28px;
    font-family: 'metropolislight';
    span{
      letter-spacing: 2px;
      font-size: 20px;
      display: block;
      font-family: 'metropolisregular';
    }
}
h4.h4{
  color: #003463;
  text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 18px;
}
.ccflex {
  display: flex;
  align-items: center;
}
.page-section {
    padding: 3rem 0;
  }
  .page-section .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    .page-section .page-section-heading {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }

  .btn-more {
    background-color: #003463;
    border: 0;
    padding: 0.5rem 3rem;
    margin: auto;
    display: flex;
    font-family: 'metropolislight';
    border-radius: 0;
    justify-content: center;
    width: 200px;
}
.uper{
    color: #978F72;
    font-size: 25px;
}

.masthead{
    padding-top: calc(5rem + 74px);
    padding-bottom: 6rem;
}

#mainNav {
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
    background-color: #978F72!important;
    border: 0;
  }
}

@media (max-width: 768px)  {
  .navbar-expand-lg {
    .menu {
      background-color: rgba(44, 44, 44, 1)!important;
      position: absolute;
      width: auto;
    }
  }
}
.modal-backdrop.show {
  opacity: .8;
}