<header class="masthead blog">
  <div class="container ">
    <div class="row mt-5">
      <div class="col-12 col-sm-12 col-md-6">
        <h3 class="h3">
          <span>FEBRERO 2021</span>
          <span class="strong">VALION</span> BLOG
        </h3>
        <div class="perspe mt-5">
          <p class="titlegold">PERSPECTIVAS</p>
          <p>
            Comentario semanal global <br>
            Oportunidad de inversión en China<br>
            Especial Coronavirus<br>
            Encuentro podcast<br>
            The BID podcast<br>
            Personas y dinero<br>
            Ver todas las perspectivas destacadas
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
          <img class="card-img-top img-fluid" src="assets/img_link@2x.png" alt="...">
          <div class="card-body">
            <h5 class="card-title">Enfoque en la distribución de la vacuna
            </h5>
            <p class="card-text">El ritmo de distribución en medio del resurgimiento del virus será un punto focal en
              una semana con pocos datos nuevos. Hasta ahora, los mercados han ignorado los disturbio...
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<div class="container-fluid digital">
  <p>Ibex 35: vuelve a peligrar el soporte de los 8300 puntos antes del cierre semanal</p>
  <img src="assets/minilogo.svg" alt="Valion">
</div>
<div class="container mt-4">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">Categoria 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cat2-tab" data-toggle="tab" href="#cat2" role="tab" aria-controls="cat2"
        aria-selected="false">Categoria 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cat3-tab" data-toggle="tab" href="#cat3" role="tab" aria-controls="cat3"
        aria-selected="false">Categoria 3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cat4-tab" data-toggle="tab" href="#cat4" role="tab" aria-controls="cat4"
        aria-selected="false">Categoria 4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cat5-tab" data-toggle="tab" href="#cat5" role="tab" aria-controls="cat5"
        aria-selected="false">Categoria 5</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cat6-tab" data-toggle="tab" href="#cat6" role="tab" aria-controls="cat6"
        aria-selected="false">Categoria 6</a>
    </li>
  </ul>
  <div class="tab-content mt-4" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4">
          <div class="categ">
            <img src="assets/pic1@2x.jpg" alt="...">
            <p class="title"><i class="fas fa-caret-right"></i> Nueva y estrecha mayoría
            </p>
            <p class="minfo">
              La estrecha mayoría del Partido Demócrata en el Senado abre el camino para un mayor gasto público y
              refuerza nuestra perspectiva macroeconómica.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <div class="categ">
            <img src="assets/pic2@2x.jpg" alt="...">
            <p class="title"><i class="fas fa-caret-right"></i> Dinámica del virus y perspectiva macroeconómica
            </p>
            <p class="minfo">
              Una cepa más infecciosa del virus podría retrasar la reanudación de la actividad, pero opinamos que la
              pérdida económica será una fracción de la vista tras la crisis de 2008.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <div class="categ">
            <img src="assets/pic3@2x.jpg" alt="...">
            <p class="title"><i class="fas fa-caret-right"></i> Enfoque en la distribución de la vacuna
            </p>
            <p class="minfo">
              El ritmo de distribución en medio del resurgimiento del virus será un punto focal en una semana con pocos
              datos nuevos. Hasta ahora, los mercados han ignorado los disturbio...
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <div class="categ">
            <img src="assets/pic4@2x.jpg" alt="...">
            <p class="title"><i class="fas fa-caret-right"></i> Nueva y estrecha mayoría

            </p>
            <p class="minfo">
              La estrecha mayoría del Partido Demócrata en el Senado abre el camino para un mayor gasto público y
              refuerza nuestra perspectiva macroeconómica.

            </p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <div class="categ">
            <img src="assets/pic5@2x.jpg" alt="...">
            <p class="title"><i class="fas fa-caret-right"></i> Dinámica del virus y perspectiva macroeconómica
            </p>
            <p class="minfo">
              Una cepa más infecciosa del virus podría retrasar la reanudación de la actividad, pero opinamos que la
              pérdida económica será una fracción de la vista tras la crisis de 2008.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
          <div class="categ">
            <img src="assets/pic6@2x.jpg" alt="...">
            <p class="title"><i class="fas fa-caret-right"></i> Enfoque en la distribución de la vacuna

            </p>
            <p class="minfo">
              El ritmo de distribución en medio del resurgimiento del virus será un punto focal en una semana con pocos
              datos nuevos. Hasta ahora, los mercados han ignorado los disturbio...

            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="cat2" role="tabpanel" aria-labelledby="cat2-tab">Categoria 2</div>
    <div class="tab-pane fade" id="cat3" role="tabpanel" aria-labelledby="cat3-tab">Categoria 3</div>
    <div class="tab-pane fade" id="cat4" role="tabpanel" aria-labelledby="cat4-tab">Categoria 4</div>
    <div class="tab-pane fade" id="cat5" role="tabpanel" aria-labelledby="cat5-tab">Categoria 5</div>
    <div class="tab-pane fade" id="cat6" role="tabpanel" aria-labelledby="cat6-tab">Categoria 6</div>
  </div>

</div>

<div class="container mt-4 posts">
  <hr class="pb-3">
  <div class="row ">
    <div class="col-12 col-sm-12 col-md-8">
      <h3 class="h3 blue">
        <span>PERSPECTIVAS</span>
        COMENTARIO SEMANAL GLOBAL
      </h3>
      <img src="assets/img_blog1@2x.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-12 col-sm-12 col-md-4">
      <h5>Ayudando a los inversionistas a navegar tiempos turbulentos
      </h5>
      <p>El ritmo de distribución en medio del resurgimiento del virus será un punto focal en una semana con pocos datos
        nuevos. Hasta ahora, los mercados han ignorado los disturbio...El ritmo de distribución en medio del resurgimiento
        del virus será un punto focal en una semana con pocos datos nuevos. Hasta ahora, los mercados han ignorado los
        disturbio...
      </p>
      <a href="#">Leer más</a>
    </div>
  </div>
  
  <hr class="pb-3 mt-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8">
      <h3 class="h3 blue">
        <span>PERSPECTIVAS</span>
        ESPECIAL CORONAVIRUS
      </h3>
      <img src="assets/img_blog2@2x.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-12 col-sm-12 col-md-4">
      <h5>Cómo el coronavirus está afectando los mercados </h5>
      <p>El ritmo de distribución en medio del resurgimiento del virus será un punto focal en una semana con pocos datos nuevos. Hasta ahora, los mercados han ignorado los disturbio...El ritmo de distribución en medio del resurgimiento del virus será un punto focal en una semana con pocos datos nuevos. Hasta ahora, los mercados han ignorado los disturbio...

      </p>
      <a href="#">Leer más</a>
    </div>

  </div>
  <hr class="pb-3 mt-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8">
      <h3 class="h3 blue">
        <span>PERSPECTIVAS</span>
        ESPECIAL CORONAVIRUS
      </h3>
      <div *ngFor="let post of posts" class="posts">
        <h5>{{post.title}}</h5>
        <p>{{post.description}}</p>
        <a href="#">Leer más</a>
 
      </div>

    </div>


  </div>
  <div class="col-12 mt-5">
    <button type="button" class="btn btn-secondary btn-more " data-toggle="modal" data-target="#postModal">
      Postear
    </button>
   </div>
  <hr class="pb-5 mt-5">

</div>

<app-post></app-post>